{{define "content"}}
		<br />
		<form action="/plogin?l={{.}}" method="POST">
			<div>
				<label for="email">Email: </label>
				<input type="text" id="email" name="email" />
			</div>
			<div>
				<label for="pw">Password: </label>
				<input type="password" id="pw" name="pw" />
			</div>
			<div id="formcontrol">
				<input type="submit" value="Submit" />
			</div>
		</form>
		<p>Don't have an account? <a href="/signup">Sign Up!</a></p>
{{end}}