body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height:100vh;
    margin:0;
    padding:0;
    background-color:#ccc;
    background-image: url("/img/wslnds.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body > div {
    color:white;
    font-size: 10vw;
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    text-shadow: 0 0 5px #333;
}
a {
    font-size: 5vw;
    border:2px solid #333;
    border-radius: 10px;
    padding:10px;
    text-decoration: none;
    color:#333;
    background-color: #ccc;
    opacity: 0.8;
    text-shadow: none;
}
a:hover {
    box-shadow: 0 0 5px #333;
    opacity:1.0;
}
img {
    border-radius: 10px;
    max-height: 90vh;
    max-width: 40vw;
    box-shadow: 5px 5px 5px #333;
}