body {
    background-color: #E5DAC7;
    height:100vh;
    margin:0;
    padding:0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}
#tplHeader {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 65px;
    box-sizing: border-box;
    background-color: #898B98;
    background: url('/img/wslnds-hdr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    padding:10px;
    color: #FFF;
    text-shadow: 0 0 3px #000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    box-shadow: 0 10px 15px #FFF;
    z-index: 250;
}
#tplTitle {
    color: #FFF;
    text-shadow: 0 0 5px #333;
    font-size: 18px;
}
#tplTitle a{
    color: #FFF;
    text-decoration: none;
}

.hbmenu_b {
    display:none;
}


nav {
    color: #fff;
    margin: 0;
    padding: 10px;
    position: relative;
    width: auto;
    height:auto;
    box-shadow: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    top: auto;
    right: auto;
    margin-right: 0;
    transform: none;
}
nav ul {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin: auto;
    margin-right:20px;
    color:rgb(232, 235, 221);
}
nav a {
    font-size: 16px;
    color:rgb(232, 235, 221);
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}


.anchor {
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;    
}

.container {
    padding: 80px 10px 80px 10px;
    width:80%;
    height:80%;
    background-color: #fff;
}

#tplFooter{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    background-color: #898B98;
    background: url('/img/wslnds-ftr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    z-index: 250;
    width:100%;
    height:60px;
    position: fixed;
    bottom:0;
    left:0;
    padding: 0 10px;
    box-shadow: 0 -10px 15px #FFF;
    color: #FFF;
    text-shadow: 0 0 3px #000;
}

    /*Hamburger Menu*/
    #hbmenu_cb {
        position: absolute;
        top: -999px;
        left: -999px;
        opacity:0;
    }


@media screen and (max-width:600px) {
    /*Hamburger Menu*/
    #hbmenu_cb:checked ~ nav {
        transform: translate(-100%, 0);
    }
    .hbmenu_b {
        display:block;
    }
    .hbmenu_b span {
        height: 3px;
        background-color: rgb(32, 234, 59);
        display: block;
        width: 25px;
        margin: 5px 0px 0px 5px;
    }
    nav {
        background-color: #333;
        position: fixed;
        width: 250px;
        height:300px;
        box-shadow: 0 10px 15px #333;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        font-size: 18px;
        top: 65px;
        right: 0;
        margin-right: -300px;
        z-index: 200;
    
        transform: none;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    nav ul {
        margin: 0;
        margin-top:10px;
        margin-left:10px;
        padding: 0;
        display: block;
    }
    
    nav li {
        display: block;
        margin: 0;
        margin-right: 10px;
        margin-top: 20px;
    }
    
    nav a {
        text-decoration: none;
        transition-property: all;
        transition-duration: 200ms;
        transition-timing-function: ease;
    }
    
    nav a:hover {
        color: #8ABE40;
    }
    
}